<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059837229382-85ca3a9gjc69pvmcs14jlk89e9if89d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059837229382-85ca3a9gjc69pvmcs14jlk89e9if89d3</string>
	<key>API_KEY</key>
	<string>AIzaSyC_6idIHTNKDQ5BorGhoQ0TqJ5dG6F6Yic</string>
	<key>GCM_SENDER_ID</key>
	<string>1059837229382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.ak.Watchy</string>
	<key>PROJECT_ID</key>
	<string>watchy-3e410</string>
	<key>STORAGE_BUCKET</key>
	<string>watchy-3e410.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059837229382:ios:e3b582936060f99ba38d47</string>
</dict>
</plist>